<% if comment.valid? %>
<div id="comment-#{comment.id}">
  <% if comment.author && comment.author != "" %>
    <strong><%= comment.author %></strong>
  <% else %>
    <strong>Anonimus</strong>
  <% end %>
  <p><%= comment.content %></p>
  <% if current_admin %>
    <%= link_to 'Delete', [@post, comment], method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  <% end %>

</div>
<% end %>
