<% if comment.valid? %>
<div id="comment-#{comment.id}">
  <strong><%= comment.author %></strong>
  <% if current_admin %>
    <span class="float-right"><%= link_to 'Delete', [@post, comment], method: :delete, data: { confirm: "Are you sure?" }, remote: true %></span>
  <% end %>
  <p><%= comment.content %></p>
</div>
<% end %>
