<% if comment.valid? %>
<div class="callout" id="comment-#{comment.id}">
<% if current_admin %>
    <span class="float-right"><%= link_to 'Delete', [@post, comment], method: :delete, data: { confirm: "Are you sure?" }, remote: true %></span>
  <% end %>
  <h5><%= comment.author %></h5>
  <p><%= comment.content %></p>
</div>
<% end %>
