<ul class="vertical menu" data-accordion-menu>
  <li>
    <a href="#">Projects</a>
    <ul class="menu vertical nested">
      <li><a href="#">List</a></li>
      <li><%= link_to "Create", new_project_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Posts</a>
    <ul class="menu vertical nested">
      <li><%= link_to "List", admin_posts_path %></li>
      <li><%= link_to "Create", new_post_path %></li>
    </ul>
  </li>
</ul>
