<!-- Comments -->
<div class="row text-center" id="admin-comments">
  <% if @unread_comments > 0 %>
    <h5 id="unread-comments">
      <%= link_to generate_comments_text(@unread_comments), admin_comments_path %>
    </h5>
  <% else %>
    <h5>
      <%= link_to generate_comments_text(@unread_comments), admin_comments_path %>
    </h5>
  <% end %>
</div>

<!-- Analytics -->
<div id="analytics">
  <div class="row">
    <div class="text-center">
      <a href="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=379110354&amp;format=interactive" target="_blank">
        <img src="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=379110354&amp;format=image" alt="This Week vs Last Week">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="small-10 small-centered medium-8 medium-centered">
        <div class="text-center">
          <a href="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=2098773995&amp;format=interactive" target="_blank">
            <img src="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=2098773995&amp;format=image" alt="This Week vs Last Week">
        </a>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="small-10 small-centered medium-8 medium-centered">
      <div class="text-center">
        <a href="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=2142439514&amp;format=interactive" target="_blank">
          <img src="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=2142439514&amp;format=image" alt="This Week vs Last Week">
        </a>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="small-10 small-centered medium-8 medium-centered">
        <div class="text-center">
          <a href="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=1881536961&amp;format=interactive" target="_blank">
          <img src="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=1881536961&amp;format=image" alt="This Week vs Last Week">
        </a>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
    <div class="small-10 small-centered medium-8 medium-centered">
      <div class="text-center">
        <a href="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=1765542044&amp;format=interactive" target="_blank">
          <img src="https://docs.google.com/spreadsheets/d/1Y9eFSOFgU4kGzbg-hp9WOnjd6rQ6soUSyf8-17K0WwQ/pubchart?oid=1765542044&amp;format=image" alt="This Week vs Last Week">
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

