<!-- Comments -->
<div class="row text-center" id="admin-comments">
  <% if @unread_comments > 0 %>
    <h5 id="unread-comments">
      <%= link_to generate_comments_text(@unread_comments), admin_comments_path %>
    </h5>
  <% else %>
    <h5>
      <%= link_to generate_comments_text(@unread_comments), admin_comments_path %>
    </h5>
  <% end %>
</div>

<!-- Analytics -->
<div class="row" id="analytics">
  <div class="large-6 columns">
    <div class="small-10 small-centered medium-8 medium-centered">
    <!-- <a href="https://docs.google.com/spreadsheets/d/1FgbN3QutTwoj7ZCFLTjeI4S2KjG2Mlyt6Es7CoQA6e4/pubchart?oid=1734889230&amp;format=interactive" target="_blank">
      <img src="https://docs.google.com/spreadsheets/d/1FgbN3QutTwoj7ZCFLTjeI4S2KjG2Mlyt6Es7CoQA6e4/pubchart?oid=1734889230&amp;format=image" alt="This Week vs Last Week">
    </a> -->
    </div>
  </div>
  <div class="large-6 columns">
  <div class="small-10 small-centered medium-8 medium-centered">
    <!-- <a href=https://docs.google.com/spreadsheets/d/1FgbN3QutTwoj7ZCFLTjeI4S2KjG2Mlyt6Es7CoQA6e4/pubchart?oid=1292802990&amp;format=interactive" target="_blank">
      <img src="https://docs.google.com/spreadsheets/d/1FgbN3QutTwoj7ZCFLTjeI4S2KjG2Mlyt6Es7CoQA6e4/pubchart?oid=1292802990&amp;format=image" alt="This Week vs Last Week">
    </a> -->
  </div>
  </div>
</div>
