<% provide(:title, "Posts") %>

<div id="posts">
  <% @posts.each do |post| %>
  <div class="row">
    <div class="col-xs-8">
      <h3><%= link_to post.title, post %></h3>
    </div>
    <div class="col-xs-4 controls">
      <%= link_to fa_icon("eye 2x"), post, target: "_blank", title: "Show" %>
      <%= link_to fa_icon("pencil 2x"), edit_post_path(post), title: "Edit" %>
      <%= link_to fa_icon("trash 2x"), post, method: :delete, data: { confirm: "Are you sure?" }, title: "Delete" %>
    </div>
  </div>
  <% end %>
</div>
