<% provide(:title, "Posts") %>

<% @posts.each do |post| %>
<div class="row">
  <div class="small-8 columns">
    <h4><%= link_to post.title, post %></h4>
  </div>
  <div class="small-4 columns controls">
    <%= link_to fa_icon("eye 2x"), post, target: "_blank", title: "Show" %>
    <%= link_to fa_icon("pencil 2x"), edit_post_path(post), target: "_blank", title: "Edit" %>
    <%= link_to fa_icon("trash 2x"), post, method: :delete, data: { confirm: "Are you sure?" }, title: "Delete" %>
  </div>
</div>
<% end %>
