    <% flash.each do |key, value| %>
      <% unless value.blank? %>
        <div class="alert alert-<%= key %>">
          <p class="text-center"><%= value %></p>
        </div>
      <% end %>
    <% end %>
