<% provide(:title, "Blog") %>


<div id="blog-page">
  <h1 class="text-center">Articles</h1>

  <% @posts.each do |post| %>
    <div class="container">
      <h3 class="text-center"><%= link_to post.title, post %></h3>
      <p>
        <%= get_first_paragraph post.content %>
        <%= link_to "Continue reading...", post %>
      </p>
      <p class="tag-links"><%= raw tag_links(post.all_tags) %></p>
    </div>
  <% end %>
</div>
