<div class="row" id="landing_page">
<div class="small-12 small-centered medium-10 medium-centered large-6 large-centered text-center">
    <div class="small-12 medium-3 columns">
      <%= link_to "About", about_path %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= link_to "Portfolio", portfolio_path %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= link_to "Blog", blog_path %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= link_to "Contact", contact_path %>
    </div>
  </div>
</div>
