<% provide(:title, "Portfolio") %>
<% provide(:id, "portfolio") %>
<% provide(:subtitle, "Collection of my projects") %>

<div class="row" id="portfolio-page">
  <div class="small-10 small-centered medium-8 medium-centered">
    <h3 class="text-center">Projects</h3>
  </div>
  <% @projects.each do |project| %>
  <div class="small-10 small-centered medium-8 medium-centered">
    <h4><%= link_to project.title, project %></h4>
    <p class="project-img"><%= image_tag project.screenshot.url %></p>
    <p><%= link_to fa_icon("arrow-right 1x", text: "Details", right: true), project %></p>
</div>
<% end %>
</div>
