<% provide(:title, "Portfolio") %>

<div id="portfolio">
  <div class="row">
    <h1>Projects</h1>
  </div>
  <div class="container vertical-center">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-4 text-center project-thumb">
        <span><%= link_to project.title, project %></span>
        <%= link_to image_tag(project.screenshot.url(:medium)), project %>
        </div>
      <% end %>
    </div>
  </div>
</div>
