@import "settings";


$light_yellow: #D3CF6D;
$yellow: #FFB514;
$green: #98C063;
$navy: #42807E;
$red: #D38A6D;
$white: #fefefe;
$blue: #615391;
$light_orange: #AA5F39;

.container{
  background: $blue;
  h1 a{
  color: #fff;
  }
}

#admin-header{
  h1{
    display: inline-block;
  }
}

#admin-title-bar{
  float: right;
  display: inline-block;
  text-align: right;
  background: $blue;
}

#admin-home{
  margin-top: 2em;
  .small-centered{
    width: 100%;
  }
  .menu li a{
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    outline: 0;
    &:hover{
      background: transparent;
      color: $blue;
    }
  }
  .controls{
    a{
      margin: 0 3px;
    }
    .fa-eye{
      color: darken($blue, 20%);
      &:hover{
        color: $blue;
      }
    }
    .fa-pencil{
      color: $light_yellow;
      &:hover{
        color: $yellow;
      }
    }
    .fa-trash{
      color: $red;
      &:hover{
        color: red;
      }
    }
  }
}

#admin-comments{
  margin-top: 2em;
  // Unread comments
  .read-false{
    background: #ffe6cc;
  }
  #unread-comments{
    a{
      color: $primary-color;
    }
  }
}

#analytics{
  margin-top: 2em;
  .row{
    margin-bottom: 1em;
  }
  .medium-centered{
    width: 100%;
  }
  .columns{
    margin-bottom: 1em;
  }
  img{
    border-radius: 2px;
  }
}

@media screen and (max-width: 640px){
  #admin-home{
    margin-top: 0.5em;
  }
    #menu-admin{
      text-align: right;
      background: $blue;
    }
    .menu li a{
      color: #FFF;
    }
  }
