@import "settings";


$light_yellow: #D3CF6D;
$yellow: #FFB514;
$green: #98C063;
$navy: #42807E;
$red: #D38A6D;
$white: #fefefe;
$blue: #615391;
$light_orange: #AA5F39;

.container{
  background: $blue;
  h1 a{
  color: #fff;
  }
}

#wrapper{
  margin-top: 20px;
}

#side_nav{
  .menu li a{
    font-size: 18px;
    font-weight: bold;
    outline: 0;
    &:hover{
      background: transparent;
      color: $blue;
    }
  }
}

#main{
  h2{
    color: $blue;
    font-weight: bold;
  }
  h3{
    a{
      color: #000;
    }
  }
  .controls{
    a{
      margin: 0 3px;
    }
    .fa-eye{
      color: darken($blue, 20%);
      &:hover{
        color: $blue;
      }
    }
    .fa-pencil{
      color: $light_yellow;
      &:hover{
        color: $yellow;
      }
    }
    .fa-trash{
      color: $red;
      &:hover{
        color: red;
      }
    }
  }
}

// Unread comments

.read-false{
  background: #ffe6cc;
}

#unread-comments{
  a{
    color: $primary-color;
  }
}
