/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import "foundation_and_overrides";
 @import "font-awesome";

body{
  p{
    font-family: 'Lora', serif;
    font-size: 1.2em;
  }
  a{
    color: #000;
    &:hover{
      background-color: transparent;
    }
  }
  span{
    font-family: 'Istok Web', sans-serif;
  }
  .title-bar-title{
    font-family: 'Istok Web', sans-serif;
    font-size: 1.2em;
  }
}

.navbar{
  background-color: $primary-color;
  margin-bottom: 3.5em;
  a{
    color: white;
    font-weight: bold;
  }
}

#notice{
  .alert-success{
    border: solid 3px green;
    background-color: #f0f0f0;
    color: green;
  }
  .alert-error{
  border: solid 3px red;
  background-color: #f0f0f0;
  color: red;
  }
  font-weight: bold;
  margin: 20px;
  p{
    margin: 10px;
  }
}

/*Page Banner*/

#about-banner, #portfolio-banner, #blog-banner, #contact-banner{
  height: 50%;
  text-align: center;
  .row{
    @include vertical-align();
  }
  h1{
    font-weight: 900;
  }
  h5{
    font-weight: 600;
  }
}

#about-banner{
  color: #A0EE3B;
  background: image_url("about_banner.jpg");
  @include background();
  @media screen and (max-width: 600px){
    @include background($position: 60%, $size: 250% 100%);
    height: 30%;
  }
}

#portfolio-banner{
  background: image_url("portfolio_banner.jpg");
  color: #EB914F;
  @include background($position: 80%);
  @media screen and (max-width: 600px){
    height: 30%;
    @include background($size: initial, $position: 30%);
  }
}

#blog-banner{
  color: #1C3B3D;
  text-shadow: 0px 4px 6px #000;
  background: image_url("blog_banner.jpeg");
  @include background($position: 0% 30%);
  @media screen and (max-width: 600px){
    height: 30%;
    h5{
      display: none;
    }
  }
  .row{
    @include vertical-align($offset: 70%);
  }
}

#contact-banner{
  background: image_url("contact_banner.jpg");
  text-align: left;
  color: #2F221A;
  @include background();
  @media screen and (max-width: 600px){
    height: 30%;
  }
}

/*Navigation Bar*/

.top-bar ul{
  display: inline-block;
  background-color: transparent;
}

.about, .portfolio, .blog, .contact{
  @extend .navbar;
  margin-bottom: 0;
}

.about{
  background-color: #151515;
  a{
    &:hover{
      color: #A0EE3B;
    }
  }
}

.portfolio{
  background-color: #111111;
  a{
    &:hover{
      color: #EB914F;
    }
  }
}

.blog{
  background-color: #2A4743;
  a{
    &:hover{
      color: #CDC19F;
    }
  }
}

.contact{
  background-color: #2F221A;
  a{
    &:hover{
      color: #CDC19F;
    }
  }
}

