@import "global_variables";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate";
@import "font-awesome";
@import "monokai_sublime";
@import "mixins";

@import "global_settings";

@import "devise";
@import "about";
@import "portfolio";
@import "show_project";
@import "blog";
@import "show_post";
@import "contact";

// Header
#navigation {
  -webkit-transition: all 0.8s ease 0s;
     -moz-transition: all 0.8s ease 0s;
      -ms-transition: all 0.8s ease 0s;
       -o-transition: all 0.8s ease 0s;
          transition: all 0.8s ease 0s;

  background-color: rgba(0,0,0,.7);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 25px 0;
  z-index: 10;
  h1 a{
    color: $red;
  }
  .navbar-brand {
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      text-transform: uppercase;
  }
}

.navbar-inverse .navbar-nav li  a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.active-link{
  border-bottom: 2px solid $red !important;
}
// End Header

#notices{
  width: 50%;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#portfolio, #show-project, #blog, #show-post, #contact{
  padding-top: 140px;
  margin-bottom: 50px;
}

// Footer
#footer {
    background-color: #2E2E2E;
    padding: 70px 0;
    color: #fff;
}

.footer-content {
    width: 100%;
    margin: 0 auto;
}

.footer-content > div {
    margin-bottom: 40px;
}

.footer-content > div > p:first-child {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.subscribe-form {
    position: relative;
}

.subscribe.form-control {
    background-color: transparent;
    border: 1px solid #7f7f7f;
}

.subscribe.form-control:focus {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.submit-icon {
    background-color: #7f7f7f;
    border: 0 none;
    border-radius: 0;
    color: #c1c1c1;
    padding: 13px 20px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

.submit-icon .fa-paper-plane {
    position: relative;
    top: 0;

    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: all 0.3s ease 0.2s;
       -moz-transition: all 0.3s ease 0.2s;
        -ms-transition: all 0.3s ease 0.2s;
         -o-transition: all 0.3s ease 0.2s;
            transition: all 0.3s ease 0.2s;
}

.submit-icon:hover .fa-paper-plane {
    position: relative;
    top: -37px;

    -webkit-transform: translateX(30px);
       -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
         -o-transform: translateX(30px);
            transform: translateX(30px);
}

.footer-content .footer-social {
    margin: 40px 0 35px;
}

.footer-social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-social ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-social ul li a {
    color: #7f7f7f;
    display: block;

    -webkit-transition: all 0.2s ease 0s;
       -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
         -o-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}

.footer-social ul li a:hover {
    color: #009EE3;
}

.footer-content > p {
    color: #ababab;
    font-size: 12px;
}

.vertical-center{
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
}

@media (max-width: 468px){
  #notices{
    width: 80%;
  }
}
