#blog{
  h1{
    margin-top: 0;
    margin-bottom: 50px;
    opacity: 0.7;
  }
  h3 a{
    color: #000;
  }
  p a{
    color: $blue;
  }
  .container{
    margin: 12.5px auto;
    &:first-of-type{
      margin-top: 0;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .tag-links a{
    color: $blue;
  }
}
