#about-page, #portfolio-page, #blog-page, #contact-page{
  h3{
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 4px double;
  }
  p, label{
    font-family: 'Istok Web', sans-serif;
  }
  h4{
    font-weight: bold;
  }
  @media (max-width: 480px){
    h4{
      font-size: 1.2rem;
    }
  }
}

#about-page{
  h3{
    color: #244123;
  }
  p{
    a{
      text-decoration: underline;
    }
  }
  a{
    color: #244123;
  }
  img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 2px;
  }
  .medium-4{
    margin-bottom: 2em;
    padding: 0 auto;
    a{
      font-size: 1.5em;
      &:hover{
        color: #234922;
      }
    }
  }

}

  #portfolio-page{
    h4 a{
      color: #111111;
    }
    p a{
      color: #EB914F;
    }
    .project-img{
      margin: 1.5em auto;
    }
    .project-details{
      margin-top: -1em;
      margin-bottom: 2em;
    }
  }

  #blog-page{
    h3, a{
      color: #1C3B3D;
    }
    .tag-links{
      a{
        color: #615391;
      }
    }
    .small-10, .medium-8{
      margin-bottom: 2em;
    }
  }

  #contact-page{
    color: #2F221A;
    @media (max-width: 640px){
      h3{
        margin-top: 1em;
      }
    }
  }
