#about-page, #portfolio-page, #blog-page, #contact-page{
  h3{
    font-size: 3.5em;
    font-weight: bold;
    margin: 3em auto;
    padding-bottom: 1em;
    border-bottom: 4px double;
  }
}

#about-page{
  h3{
    color: #244123;
  }
  p{
    font-size: 1.2em;
    line-height: 1.8em;
  }
  a{
    color: #244123;
  }
  img{
    width: 100%;
    margin-bottom: 1.5em;
    border-radius: 2px;
  }
  .small-4{
    padding: 0 auto;
    a{
      font-size: 1.5em;
      &:hover{
        color: #234922;
      }
    }
  }
}

  #portfolio-page{
    h3{
      color: #EB914F;
    }
    .project-img{
      margin: 1.5em auto;
    }
  }

  #blog-page{
    h3{
      color: #1C3B3D;
    }
  }

#contact-link{
  text-decoration: underline;
}


