#show-post{
  position: relative;
  #post-content{
    margin-top: 50px;
    margin-bottom: 25px;
  }
  #post-tags{
    .fa, a{
      color: $blue;
    }
  }
  #comments-section{
    margin-top: 25px;
  }
  #posted-comments{
    margin-bottom: 25px;
    h5{
      margin-bottom: 5px;
      float: pull-left;
    }
    span{
      float: right;
    }
    .comment{
      margin: 12.5px auto;
      border: 1px solid #ccc;
      border-radius: 2px;
      padding: 0 15px;
      h4{
        margin-bottom: 1em;
      }
    }
  }
  #post-comment{
    margin-top: 25px auto;
  }
  pre{
    background-color: #23241f;
    padding: 0;
    word-break: normal;
    word-wrap: normal;
    code{
      white-space: pre;
    }
  }
  form{
    max-width: 450px;
  }
}
